<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Weather</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>Key in a city to see the weather</h1>
                <form action="/"
                method="POST">
                    <div class="input-group mb-3"> 
                        <input type="text" class='form-control' name="cityname" id="cityname" placeholder="Please enter the city" required>
                        <button type="submit" class="btn btn-primary">Get Weather</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
</body>
</html>