<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center mt-5">
                    <h1>Weather in <span th:text="${city}" class="text-danger"></span></h1>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <img th:src="${weather.iconUrl}"/>
                    <p>Weather is <span th:text="${weather.weatherMain}"></span>, <span th:text="${weather.weatherDescription}"></span> </p>
                    <p>Temperature is <span th:text="${weather.temp}"></span> degrees</p>

                    <form action="/weather/main" method="get">
                        <button type="submit" class="btn btn-primary">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>